snippet inc
	#include <${1:stdio}.h>${2}
snippet def
	#define ${1:NAME}	${2:value}	/* ${3:comment} */${4}
snippet main
	main()
	{
		${1://code}
	}
snippet v
	${1:variable} = ${2:value};${3}
snippet for
	for (${1:i = 0}; ${2:i <= n}; ${3:i = i + 1}) {
		${4://code}
	}
snippet while
	while (${1:condition}) {
		${2://code}
	}
