snippet in "include(Module)"
include(${0:Module})
endsnippet

snippet if "if() .. end()"
if($0)
endif()
endsnippet

snippet ife "if() .. else() .. end()"
if($0)
else()
endif()
endsnippet

snippet logi "message(STATUS ...)"
message(STATUS $0)
endsnippet

snippet logd "message(DEBUG ...)"
message(DEBUG $0)
endsnippet
