snippet cl "cl"
class ${1:Class}
endsnippet

snippet class "class"
class ${1:Class} extends ${2:Class}
endsnippet

snippet f "function"
($1) =>
	$0
endsnippet

snippet $ "$"
$(${1})${2}
endsnippet

snippet # "#"
#{${1}}${2}
endsnippet

snippet log "log"
console?.log ${1}
endsnippet

snippet a "alert"
alert $1
endsnippet

# debugging
snippet dbg "debugger"
debugger
endsnippet
