snippet cl "cl"
class ${1:Class}
endsnippet

snippet class "class"
class ${1:Class} extends ${2:Class}
endsnippet

snippet $ "$"
$(${1})${2}
endsnippet

snippet # "#"
#{${1}}${2}
endsnippet

snippet log "log"
console?.log ${1}
endsnippet

snippet ale "ale"
alert '${1:ololo}'${2}
endsnippet


