snippet f
	Feature: ${1:name}
snippet b
	Background:
		${1}
snippet s
	Scenario: ${1:name}
snippet so
	Scenario Outline: ${1:name}
snippet g
	Given ${1}
snippet w
	When ${1}
snippet t
	Then ${1}
snippet a
	And ${1}
