snippet ns "[NO STORY]" i
[NO STORY]
endsnippet

snippet wip "[WIP]" i
[WIP]
endsnippet

snippet ref "[REFACTORING]" i
[REFACTORING]
endsnippet

snippet test "[TEST]" i
[TEST]
endsnippet

snippet hf "[HOTFIX]" i
[HOTFIX]
endsnippet

snippet hb "[HBError #]" i
[HBError #${1:ID}]
endsnippet

snippet id "[#SOMESTORYID]" i
[#${1:ID}]$0
endsnippet
