snippet {{
{{ $0 }}
endsnippet

snippet {{#
{{#${1:each} $2}}
	$0
{{/$1}}
endsnippet

snippet log "{{log smth}}"
{{log $0}}
endsnippet

snippet dbg
{{debugger}}
endsnippet

snippet ins ".constructor" i
constructor
endsnippet
