snippet <
	<${1:div}${2: attrs}>
		${3}
	</$1>
snippet <<
	<${1:div}${2: attrs}>${3}</$1>
snippet >
	<${1:input}${2: attrs}>
snippet a
	${1:attribute}="${2:value}"
snippet id
	id="${1:id-value}"
snippet cl
	class="${1:class-value}"
snippet d
	data-${1:bind}="${2:value}"
snippet scr
	<script>
		${1}
	</script>
