snippet <
	<${1:div}${2}>
		${3}
	</$1>
snippet <<
	<${1:div}${2}>${3}</$1>
snippet <>
	<${1:div}${2}>${3}</$1>
snippet a
	${1:attribute}="${2:value}"
snippet id
	id="${1:id-value}"
snippet class
	class="${1:class-value}"
snippet data
	data-${1:bind}="${2:value}"
