snippet C
WARNINGS := -Wall -Wextra -Wshadow -Wpointer-arith -Wcast-align \
	    -Wwrite-strings -Wmissing-prototypes -Wmissing-declarations \
	    -Wredundant-decls -Wnested-externs -Winline -Wno-long-long \
	    -Wuninitialized -Wconversion -Wstrict-prototypes -pedantic

CFLAGS ?= -std=gnu99 -g $(WARNINGS)
LDFLAGS :=

all: ${1:app}

$1: main.o
endsnippet
