snippet hm "hm"
has_many :${1:things}
endsnippet

snippet bt "bt"
belongs_to :${1:thing}
endsnippet

snippet hbtm "hbtm"
has_and_belongs_to_many :${1:things}
endsnippet

snippet v "v"
validates :${1:what}, ${2:presence}: ${3:true}
endsnippet


