snippet ou "ou"
outline: ${1:1}px solid ${2:red};$0
endsnippet

snippet $ "$variable:" i
$${1:variable}: ${2:value}${0:;}
endsnippet

snippet def "@mixin"
@mixin ${1:mixin-name}${2:($0)} {
	$0
}
endsnippet

snippet inc "inc"
@include ${1:mixin};$0
endsnippet

snippet ext "@extend"
@extend ${1:.class};$0
endsnippet

snippet re "@import"
@import "${1:filename}";$0
endsnippet
