snippet v
	$${1:variable}: ${2:value};${3}
snippet mi
	@mixin ${1:mixin-name(var)} {
		${2://code}
	}
snippet inc
	@include ${1:mixin};${2}
snippet ex
	@extend ${1:.class};${2}
snippet im
	@import "${1:filename}";${2}
