snippet v "v"
$${1:variable}: ${2:value};${3}
endsnippet

snippet mi "mi"
@mixin ${1:mixin-name(var)} {
	${2://code}
}
endsnippet

snippet inc "inc"
@include ${1:mixin};${2}
endsnippet

snippet ex "ex"
@extend ${1:.class};${2}
endsnippet

snippet im "im"
@import "${1:filename}";${2}
endsnippet


