snippet if "if"
if [[ ${1:cond} ]]
then
fi
endsnippet

snippet ife "ife"
if [[ ${1:cond} ]]
then
	${2:# code}
else
	# code 2
fi
endsnippet

snippet for "for"
for ${1:var} in ${2:list}
do
	${3:#code}
done
endsnippet


