snippet #! "#!/bin/sh" b
#!/bin/sh
endsnippet

snippet #! "#!/bin/bash" b
#!/bin/bash
endsnippet

snippet #! "#!/bin/zsh" b
#!/bin/zsh
endsnippet

snippet if "if"
if [[ ${1:cond} ]]
then
fi
endsnippet

snippet ife "ife"
if [[ ${1:cond} ]]
then
	${2:# code}
else
	# code 2
fi
endsnippet

snippet for "for"
for ${1:var} in ${2:list}
do
	${3:#code}
done
endsnippet
